.review
  background: $white
  border-bottom: 1px solid $grey
  box-sizing: border-box
  padding: remify(20px)
  width: 100%

  img
    display: block
    margin-bottom: remify(20px)
    max-width: 120px
