html
  font-size: 100%
  min-height: 100%

body
  background: $grey
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif
  set-font-size(16px)
  margin: 0
  padding: 0 remify(20px)

*
  margin: 0
  padding: 0

.container
  margin: remify(25px) auto
  max-width: remify(800px)

h1, h2, h3, h4
  margin: 0

h2
  set-font-size(20px)

h3
  set-font-size(18px)

p
  set-font-size(14px)
  margin-bottom: remify(20px)

a
  color: $darkgrey
